#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


body {
  height: 100vh;
  width: 100vw;
}
.card {
  padding: 2em;
}


.read-the-docs {
  color: #f8f4f4;
}

.animation, .animation_layer {
  height: 100vh; /* Make it fill the screen */
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: center;
  background-size: contain; /* Keep image at its natural size */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; /* Ensure it fills the viewport */
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#Abbey {
  top:30%;
  background-image: url("./images/Abbey.png");
  z-index: -40;
  width: 25%;
  height: 25%;
  left:-7%;

}

#River {
  background-image: url("./images/River.png");
  width: 50%;
  height: 50%;
  top: 50%;
  left:-7%;
}

#Farm {
  top:10%;
  background-image: url("./images/Farm.png");
  left: 48%;
  height: 75%;
  width: 75%;
}




/* Ensuring that sections are positioned above the background */
.page-content {
  background: rgba(0, 0, 0, 0.6);
  position: relative; /* Keeps it in the flow of the page */
  z-index: 10; /* Ensures it’s above the background */
  padding: 20px;
  color: white; /* White text for visibility */
}

.section {

  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for contrast */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative; /* Ensures they are positioned in the normal flow */
  z-index: 10; /* Keeps sections above the background */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Section 1 */
.section-one {
  background-color: rgba(255, 0, 221, 0.6); /* Blue background */
}

/* Section 2 */
.section-two {
  background-color: rgba(0, 255, 0, 0.6); /* Green background */
}

/* Section 3 */
.section-three {
  background-color: rgba(255, 0, 0, 0.6); /* Red background */
}

/* Hover effect */
.section:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Add shadow for depth */
}



/* Ensure Background is behind everything */

